<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--    <bean id="helloService" class="com.ibm.spring.core.beans.annotations.HelloService"/>-->
    <!--    Tell to spring to scan all annotation : you dont need to annotation post processors-->
    <context:annotation-config/>
    <!--    Tell to spring that find all stereo type annotations from the package com.ibm.spring and its
       subpackages
    -->
    <context:component-scan base-package="com.ibm.spring"/>
</beans>
